
.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    min-height: 100vh;
}

.app-layout {
    height: 100vh;
}
.app-layout {
  height: 100vh;
  background-color: #f0f2f5;

  .ant-layout-sidbar {
    background-color: #001529;
    color: #fff;
    width: 200px;
    z-index: 2;
    position: absolute;
    height: 100vh;
  }
}

.content-page {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row-reverse;
}



.ant-layout-sidbar.sidbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  width: 100vw;
}

.ant-layout-sidbar.sidbar-mobile-collapsed {
  opacity: 0;
  visibility: hidden;
}



.ant-layout-content {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.page-wrapper {
    padding: 12px;
    width: 100%;
}
