
.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    min-height: 100vh;
}

.app-layout {
    height: 100vh;
}
.app-layout {
  height: 100vh;
  background-color: #f0f2f5; // Цвет фона для всего приложения
}

.content-page {
  padding: 20px;
  background-color: #fff; // Цвет фона для основного контента
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.ant-layout-sidbar {
  background-color: #001529;
  color: #fff;
}

.ant-layout-header {
  background-color: #001529;
  color: #fff;
  padding: 0 20px;
  font-size: 18px;
}

.ant-layout-content {
  padding: 20px;
  background-color: #fff; //
}

.content-page {
    display: flex;
    flex-direction: row-reverse;
}

.page-wrapper {
    flex-grow: 1;
    padding: 12px;
}


.storybook-wrapper {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-m);
    background-color: var(--bg-color);
}