.HeaderContent {
    display: flex;
    align-items: center;
    gap: 20px;
}


.antLayoutHeader {
    background-color: #001529;
    color: #fff;
    padding: 0 20px;
    font-size: 18px;
}

.HeaderTitle {
    margin: 0;
    font-size: 18px;
}